.app {
  width: 300px;
  margin: auto;
  font-family: Arial, sans-serif;
}

input {
  width: 100%;
  margin-bottom: 5px;
}

button {
  margin-left: 5px;
}

li {
  list-style: none;
  margin: 8px 0;
}

